* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  border: 3px solid rgb(181, 181, 190);
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  width: 36rem;
}
.left {
  display: flex;
  gap: 1rem;
  width: 29rem;
}
.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}
.firstLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}
.right {
  margin-top: -1rem;
  margin-left: -0.5rem;
}
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}
.post-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 28.5rem;
  margin-left: -3rem;
}
.post-img {
  width: 25rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 4rem;
}

.show-comments {
  margin-top: 2rem;
  line-height: 2rem;
  padding: 1rem;
}
.comments {
  border-bottom: 2px solid grey;
  text-indent: 1rem;
  margin-bottom: 1rem;
}
.posts {
  border-radius: 2rem;
  color: black;
  margin-left: 10rem;
  margin-top: -4rem;
  padding: 1rem;
  width: 20rem;
  word-wrap: break-word;
}
.selectList {
  background-color: rgb(234, 234, 234);
  margin: 1.5rem 2rem 0rem -1.5rem;
  width: 5rem;
  height: 3rem;
  font-size: 0.7rem;
}
